.signup {
  text-align: center;
  height: 500px;
  width: 400px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fff;
  border-radius: 10px;

  border: 1px solid lightgray;
}

.repeat-pass {
  color: red;
}
