.form-btn {
	outline: none;
	width: 80%;
	height: 30px;
	border-radius: 5px;
	border: 1px solid lightgray;
	margin: 20px 0;
	background-color: green;
	color: #fff;
	cursor: pointer;
}

.form-btn:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}