.myCircle {
	top: 0;
	left: 0;
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: #ff0000;
	border-radius: 50%;
	animation: animCircle 4s linear;
}


@keyframes animCircle {
	0% {
	  transform: translate(0, 0);
	  background-color: #ff0000;
	}
	25% {
	  transform: translate(100px, 100px);
	  background-color: #0000ff;
	}
	50% {
	  transform: translate(200px, 200px);
	  background-color: #008000;
	}
	75% {
	  transform: translate(100px, 100px);
	  background-color: #ffff00;
	}
	100% {
	  transform: translate(0, 0);
	  background-color: #ff0000;
	}
  }